<% if !flash.empty? %>
<div class="container" id="alerts">
<% flash.each do |key, value| %>
	<% value.each do |message| %>
	<% next if message.include?("Password is too short") && value.include?("Password can't be blank") %>
	
    <div class="alert alert-danger">
      <%= message %>
    </div>
		
    <% end %>
<% end %>
</div>
<% end %>