<%= auth_token %>  

<label>
	Username<br>
	<div class="input-group"><input type="text" id="input-username" name="user[username]" class="form-control" placeholder="Username"></div>
</label>

<br>

<label visible=false>
	Password<br>
	<div class="input-group"><input type="password" id="input-password" name="user[password]" class="form-control" placeholder="Password"></div>
</label>

<br><br>